/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.row {
	margin-left: -15px;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Dungeons
 */
.dungeon-king-congratulations-box {
    background-image: url("/img/rock-background.png");
    background-repeat: no-repeat;
    width: 725px;
    height: 198px;
    font-size: 14px;
    font-family: Georgia;
    margin: 0 auto;
}

.dungeon-king-congratulations-box h4 {
    color: #e9c73f;
    font-size: 14px;
}

.dungeon-king-congratulations-box p {
    color: white;
}

.dungeon-king-congratulations-box-content {
    margin-left: 150px;
    padding-top: 50px;
    text-shadow: 0 0 5px black;
}

h2.dungeon-name {
    background-position: 50% 100%;
    color: rgb(189, 88, 49);
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.dungeon-container {
    background-image: url("/img/dungeon-background.png");
    background-repeat: no-repeat;
    height: 415px;
    width: 614px;
    margin: 0 auto;
}

.dungeon-level-container {
    background-image: url("/img/dungeon-level-background.png");
    background-repeat: no-repeat;
    width: 746px;
    height: 86px;
}

.dungeon-level-container ul {
    margin-top: -15px;
}

.dungeon-level-label {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    font-family: Arial;
    text-shadow: 0 0 5px black, 0 0 5px black;
}

.dungeon-image-container {
    height: 250px;
    margin-bottom: -30px;
    text-align: center;
    overflow: hidden;
}

.dungeon-info-container {
    background-image: url("/img/dungeon-info-background.png");
    background-repeat: no-repeat;
    width: 620px;
    height: 189px;
    position: relative;
    z-index: 2;
}

.dungeon-info-content {
    padding: 20px;
    padding-top: 40px;
}

.dungeon-info-text {
    margin-left: 130px;
}

.dungeon-info-content h2 {
    color: #f5ad02;
}

.dungeon-info-content p {
    color: #b9aea5;
    text-shadow: 0 0 5px black;
    margin-top: -17px;
}

.dungeon-info-requirements {
    width: 100px;
    height: 60px;
    text-align: center;
    margin-right: 15px;
}

.dungeon-info-requirements span {
    font-size: 10px;
    font-family: Arial;
    color: #f26522;
    text-transform: uppercase;
}

.dungeon-king-since {
    font-size: 11px;
    padding: 10px;
    text-shadow: 0 0 2px black, 0 0 2px black;
    color: rgb(223, 115, 65);
}

.dungeon-welcome-king div {
    margin: 0 auto;
}

.dungeon-info-button-container {
    margin-top: 25px;
}

.dungeon-info-button-container li {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.dungeon-button {
    background-image: url("/img/dungeon-button.png");
    background-repeat: no-repeat;
    width: 209px;
    height: 35px;
    color: #ef6531;
    text-align: center;
    padding-top: 14px;
    font-size: 13px;
    text-shadow: 0 0 5px black;
    font-family: Georgia;
}

.dungeon-button input {
    border: none;
    background-color: transparent;
    color: #ef6531;
    font-size: 13px;
    text-shadow: 0 0 5px black;
    font-family: Georgia;
    margin-top: -3px;
    padding: 2px;
}

.buff-list li {
    vertical-align: top;
}

.coin-list {
    display: inline;
    margin: 0;
}

.coin-list li i {
    margin-top: 2px;
    margin-right: 1px;
}

.inventario-label {
	font-size: 10px;
	font-family: Georgia;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2px;
}

.inventario-label hr {
	border-color: rgb(65, 35, 16);
}

.inventory-list {
	margin: 0;
	margin-bottom: 9px;
	margin-left: 7px !important;
}

.inventory-list > li {
	vertical-align: top;
	padding-left: 0 !important;
	padding-right: 10px !important;
	padding-bottom: 10px;
}

.magical-attack {
	color: #4B7DA8;
}

.physical-attack {
	color: #BF6D37;
}

.critical-hit {
	color: #B15FEA;
}

.missed-hit {
	color: rgb(243, 222, 190);
}

.carousel-control {
	font-size: 24px;
	line-height: 35px;
	background-color: rgb(36, 27, 27);
	border: 2px solid rgb(246, 206, 177);
	color: rgb(246, 206, 177);
}

.race-corner {
	width: 40px;
	height: 53px;
	position: absolute;
	top: 94px;
	left: 1px;
	z-index: 1;
}

.race-corner.human-female {
	background-image: url("/img/human-female-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.human-male {
	background-image: url("/img/human-male-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.drow-female {
	background-image: url("/img/drow-female-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.drow-male {
	background-image: url("/img/drow-male-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.elf-female {
	background-image: url("/img/elf-female-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.elf-male {
	background-image: url("/img/elf-male-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.dwarf-male {
	background-image: url("/img/dwarf-male-mini-display.png");
	background-repeat: no-repeat;
}

.race-corner.dwarf-female {
	background-image: url("/img/dwarf-female-mini-display.png");
	background-repeat: no-repeat;
}

.mini-player-display .clan {
	position: absolute;
	top: 20px;
	right: 23px;
}

.mini-player-display .quests {
	position: absolute;
	top: 20px;
	right: 3px;
}

.mini-player-display .quests img {
	cursor: pointer;
}

.mini-player-display .coins {
	position: absolute;
        top: 2px;
        right: 3px;
}

.mini-player-display .coins li {
	padding: 0;
        float: left;
}

label {
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Verdana";
	color: rgb(101, 101, 101);
}

.ranking-box {
	background-image: url("/img/ranking-background.png");
	background-repeat: no-repeat;
	margin-top: -15px;
	margin-left: -15px;
	padding-left: 15px;
	padding-top: 15px;
}

.monster-box .ui-input-button {
	margin-top: 6px;
	margin-left: 7px;
	font-size: 14px;
}

.monster-box .level {
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Verdana";
	float: right;
	margin-right: 5px;
	color: rgb(84, 84, 84);
}

.monster-box .life-text {
	color: white;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 0 2px black;
}

.monster-box .life-bar {
	height: 20px !important;
	border-radius: 2px;
	background-color: rgb(115, 204, 31);
	background-image: none;
	border: 1px solid black;
}

.monster-box {
	width: 340px;
	border: 1px solid rgb(36, 36, 36) !important;
	border-radius: 2px;
	background-color: rgb(17, 17, 17);
	box-shadow: 0 0 5px black;
}

.battle-box {
	background-image: url("/img/battle-background.png");
	background-repeat: no-repeat;
	margin-top: -15px;
	margin-left: -15px;
	padding-left: 15px;
	padding-top: 15px;
}

.battle-search-box {
	background-image: url("/img/battle-search-box.png");
	background-repeat: no-repeat;
	width: 760px;
	height: 285px;
	padding-top: 65px;
	color: white;
}

.battle-search-box h2 {
	text-align: center;
	font-size: 12px;
	color: white;
	text-shadow: 0 0 5px black, 0 0 5px black;
	text-transform: uppercase;
	background-position: center -20px;
}

.battle-search-box label {
	color: white;
	text-shadow: 0 0 2px black, 0 0 2px black;
}

.battle-search-box ul {
	margin-top: -10px;
}

input[type="number"] {
	height: 20px;
}

select {
	height: 28px;
}

select, input[type="number"], input[type="text"], textarea {
	background-color: rgb(48, 33, 28);
	border: 1px solid black;
	border-radius: 0;
	color: rgb(155, 132, 113);
}

select:focus, input:focus, textarea:focus {
	border: 1px solid rgb(255, 92, 0) !important;
	box-shadow: 0 0 5px red !important;
}

.travel-zone-box .explored-time {
	position: absolute;
	bottom: 10px;
	width: 93%;
	text-align: center;
}

.travel-zone-box .explored-time-label {
	text-transform: uppercase;
	font-size: 10px;
	font-family: Verdana;
	color: #73685e;
}

.travel-zone-box .explored-time-text {
	color: #3b1e06;
	font-size: 24px;
	font-family: Georgia;
}
	
.travel-zone-box .image {
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 13px;
}

.travel-zone-box .name {
	color: #2f220e;
	font-family: Georgia;
	font-size: 16px;
	margin-top: 15px;
	font-weight: bold;
	text-shadow: 0 0 5px white;
}

.travel-zone-box .name:hover {
	text-decoration: underline;
}
	
.travel-zone-box .description {
	color: #463b2b;
	font-size: 13px;
	line-height: 17px;
	font-family: Verdana;
	margin-top: 7px;
	margin-left: 5px;
	width: 320px;
	text-shadow: 0px 0px 5px #FFF;
}

.travel-zone-box {
	background-image: url("/img/travel-box.png");
	background-repeat: no-repeat;
	padding: 12px;
	width: 328px;
	height: 163px;
	position: relative;
}

.alert-success {
	background-color: rgb(122, 192, 56);
	border-color: rgb(74, 128, 47);
	text-shadow: none;
	color: rgb(40, 122, 40);
}

.alert-danger, .alert-error {
	background-color: rgb(242, 113, 92);
	border-color: #5D1818;
	text-shadow: none;
	color: rgb(155, 21, 18);
}

.no-border-radius {
	border-radius: 0 !important;
}

.button-golden-mark {
	background-image: url("/img/button-golden-mark.png");
	background-repeat: no-repeat;
	width: 220px;
	height: 75px;
	padding-left: 80px;
	line-height: 70px;
}

.button-golden-mark .ui-input-button {
	color: rgb(199, 82, 37);
	font-size: 12px;
	font-weight: bold;
}

.button-golden-mark .ui-input-button:hover {
	color: rgb(235, 65, 0);
}

.chat { 
    position: fixed; 
    border: 2px solid #E99337; 
    border-bottom: 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    z-index: 999; 
    bottom: 0; 
    right: 10px; 
    padding: 5px; 
    width: auto; 
    height: auto; 
    background-color: #181818;
}

.chat-container {
    height: 300px; 
    width: 500px;
}

.chat-list-container {
    height: 270px; 
    background-color: #0F0F0F; 
    overflow: auto; 
    border: 1px solid rgb(47, 39, 30);
}

.chat-list {
    font-family: Verdana;
}

.chat-list li {
    padding: 5px; 
    border-bottom: 1px solid #292929; 
    font-size: 13px;
}

.king_of_the_hill_aura_first {
    background-image: url(/img/king_of_the_hill_aura_first.png);
    background-repeat: no-repeat;
}

.very-hard-quest h5 {
    color: red !important;
}

.hard-quest h5 {
    color: orange !important;
}

.normal-quest h5 {
    color: white !important;
}

.easy-quest h5 {
    color: greenyellow !important;
}

.very-easy-quest h5 {
    color: gray !important;
}

body {
	/*background-color: #360000;*/
	cursor: default;
	background-color: black;
	color: #9B928C;
	font-size: 15px;
	font-family: "Roboto Slab", Georgia, Verdana, Arial;
}

/**
 * Util para Modal chico (bootstrap)
 */
.potionModal {
	width: 339px;
	height: 124px;
	margin-left: -169px;
	background-color: transparent;
	background-image: url("/img/alert-background.jpg");
	background-repeat: no-repeat;
	box-shadow: black 0 0 5px;
}

.potionModal .modal-header {
	border-bottom: none;
}

.potionModal .modal-header h4 {
	color: white;
}

.potionModal .modal-header .close {
	color: white;
}

.progress {
	position: relative;
}

.progress .text {
	position: absolute;
	color: white;
	font-weight: bold;
	font-family: arial;
}

.label-important, .badge-important {
    background-color: #d0462c;
    text-shadow: black 0 0 2px;
    box-shadow: rgb(255, 0, 0) 0 0 5px;
}

.label-success, .badge-success {
    background-color: #97d037;
    text-shadow: black 0 0 2px;
}

.table-content {
    background-image: url('/img/table-background.jpg');
    background-repeat: repeat-y;
    background-position: center center;
    box-shadow: black 0 0 5px, black 0 0 5px;
    width: 705px;
    padding: 15px;
    margin: 0 auto !important;
}

.guide-tip {
    color: orange;
}

.guide-h4 {
    color: white;
    font-size: 16px;
}

.guide-row {
    margin-bottom: 50px;
}

.guide-p {
    margin-right: 15px;
    margin-left: 25px;
}

.thumbail-guide-sections {
	
}

.thumbail-guide-sections ul li {
    color: #bcb39c;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial;
	border-bottom: 1px dashed #333;
	margin-bottom: 10px;
}

form {
	padding: 0;
	margin: 0;
}

.brown-table {
	width: 100%; 
	border-bottom: 1px solid black;
	box-shadow: black 0 0 5px;
}

.brown-table thead tr {
	border-bottom: 1px solid black; 
	border-top: 1px solid black; 
	box-shadow: black 0 0 5px; 
	text-shadow: black 0 0 5px; 
	background-color: #231711; 
	color: white; 
	text-transform: uppercase; 
	font-size: 11px; 
	font-family: arial; 
	font-weight: normal;
}

.brown-table thead tr th {
	border-right: 1px solid black; 
	padding: 10px;
}

.brown-table thead tr th:last-child {
	border-right: none;
}

.brown-table tbody tr td {
	padding: 10px;
	vertical-align: middle;
    background-color: #141414;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #10100f;
}

.buff-container {
	width: 685px;
	margin-bottom: 25px;
	background-image: url("/img/buff-background.png");
	background-repeat: no-repeat;
	padding: 15px;
	background-color: #131111;
	border-radius: 5px;
	text-shadow: black 0 0 5px, black 0 0 5px;
	box-shadow: black 0 0 5px;
	position: relative;
	border: 1px solid #4b443e;
}

.activity-container {
    width: 685px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #131111;
    border-radius: 5px;
    text-shadow: black 0 0 5px, black 0 0 5px;
    box-shadow: black 0 0 5px;
    position: relative;
    border: 1px solid #4b443e;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #1d2329;
    border-color: black;
}

.pagination ul > li > a:hover {
    background-color: #1d2329;
    border-color: black;
}

.box {
    background-image: url("/img/icons/box-spritesheet.png");
    background-repeat: no-repeat;
    display: block;
	position: relative;
	text-align: center;
}

.box-box-16-blue {
    width: 16px;
    height: 16px;
    background-position: 0 0;
}

.box-box-16-gold {
    width: 16px;
    height: 16px;
    background-position: -16px 0;
}

.box-box-16-gray {
    width: 16px;
    height: 16px;
    background-position: -32px 0;
}

.box-box-16-green {
    width: 16px;
    height: 16px;
    background-position: -48px 0;
}

.box-box-16-pink {
    width: 16px;
    height: 16px;
    background-position: -64px 0;
}

.box-box-16-violet {
    width: 16px;
    height: 16px;
    background-position: -80px 0;
}

.box-box-32-blue {
    width: 32px;
    height: 32px;
    background-position: -96px 0;
}

.box-box-32-gold {
    width: 32px;
    height: 32px;
    background-position: -128px 0;
}

.box-box-32-gray {
    width: 32px;
    height: 32px;
    background-position: -160px 0;
}

.box-box-32-green {
    width: 32px;
    height: 32px;
    background-position: -192px 0;
}

.box-box-32-pink {
    width: 32px;
    height: 32px;
    background-position: -224px 0;
}

.box-box-32-violet {
    width: 32px;
    height: 32px;
    background-position: -256px 0;
}

.box-box-64-blue {
    width: 64px;
    height: 64px;
    background-position: -288px 0;
}

.box-box-64-gold {
    width: 64px;
    height: 64px;
    background-position: -352px 0;
}

.box-box-64-gray {
    width: 64px;
    height: 64px;
    background-position: -416px 0;
}

.box-box-64-green {
    width: 64px;
    height: 64px;
    background-position: -480px 0;
}

.box-box-64-pink {
    width: 64px;
    height: 64px;
    background-position: -544px 0;
}

.box-box-64-violet {
    width: 64px;
    height: 64px;
    background-position: -608px 0;
}

.remaining-points-content {
	background-image: url("/img/remaining-points-background.png");
	background-repeat: no-repeat;
	text-shadow: black 0 0 5px;
	border: 1px solid #333;
	box-shadow: black 0 0 5px;
}

.remaining-points-content input {
	margin: 0px !important;
	padding: 0px !important;
	height: 28px !important;
	min-height: 28px !important;
        width: 60px !important;
        margin-left: 5px !important;
        margin-top: -4px !important;
        text-align: center;
}

#characteristicsModal {
	background-image: url('/img/characteristics-background.png');
	background-color: transparent;
	background-repeat: no-repeat;
	width: 615px;
	height: 570px;
	border: none;
}

#characteristicsModal > div.modal-body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	min-height: 550px;
	position: relative;
}

#characteristicsModal > div.modal-body div.tab-content {
	width: 500px;
	margin: 50px auto;
}

#characteristicsModal > div.modal-body div.paginator {
	width: 500px;
	position: absolute;
	bottom: 5px;
}

#characteristicsModal > div.modal-body div.caption {
	border: 1px solid #737779;
	background-color: rgb(23, 23, 23);
	border-radius: 5px;
	box-shadow: 0 0 5px #000, 0 0 5px #000;
}

#characteristicsModal > div.modal-body div.introduction {
	border: 1px solid #737779;
	background-color: rgb(23, 23, 23);
	border-radius: 5px;
	box-shadow: 0 0 5px #000, 0 0 5px #000;
}

#characteristicsModal h3 {
	color: white;
	text-shadow: black 0 0 5px;
	margin: 0;
	margin-bottom: 5px;
}

#characteristicsModal > div.modal-body div.caption p {
	color: gold;
}

#characteristicsModal > div.modal-body a, #characteristicsModal > div.modal-body input[type="submit"] {
	color: white !important;
	text-shadow: black 0 0 5px;
	font-size: 18px;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	background-color: transparent;
	font-family: "Roboto Slab", Georgia, Verdana, Arial;
	vertical-align: inherit;
}

#characteristicsModal > div.modal-body a:hover, #characteristicsModal > div.modal-body input[type="submit"]:hover {
	text-decoration: underline;
}

#characteristicsModal > div.modal-body div.caption ul {
	font-size: 12px;
}

#characteristicsModal > div.modal-body div.caption ul li {
	color: #737779;
	border-bottom: 1px dashed #222;
}

.tournament-table {
	box-shadow: 0px 0px 5px #000;
	background-color: #F0D7C1;
	color: #886230;
	border: 1px solid #B18760;
}

.tournament-table td {
	border: 1px dashed #CCB497;
	padding: 5px;
}

.tournament-table tbody tr:hover {
	background-color: #F1E4D6;
}

.tournament-table thead tr {
	background-color: #836142;
	color: white;
	text-shadow: 0 0 5px black;
}

.tournament-table a {
	color: #FF5C00 !important;
}

.tournament-table a:hover {
	color: #FF8C00 !important;
}

.level-very-low {
	font-weight: bold;
	text-shadow: none !important;
	color: #737779 !important;
}

.level-low {
	font-weight: bold;
	text-shadow: none !important;
	color: #B2E238 !important;
}

.level-normal {
	font-weight: bold;
	text-shadow: none !important;
	color: #F3B32B !important;
}

.level-high {
	font-weight: bold;
	text-shadow: none !important;
	color: #DA7111 !important;
}

.level-very-high {
	font-weight: bold;
	text-shadow: 0px 0px 5px #F00 !important;
	color: #F83909 !important;
}

.monster-image {
	border: 1px solid orange;
	box-shadow: black 0 0 5px;
	border-radius: 2px;
	background-color: #000;
}

.popover {
	background-color: #090909;
	border: 1px solid #333;
	border-top: 1px solid #444;
	color: white;
	box-shadow: #000 0 0 5px, #000 0 0 5px;
	max-width: none !important;
    text-align: left;
    border-radius: 2px;
}

.popover-title {
	background-color: #090909;
	border: none;
    font-size: 12px;
    font-family: arial;
    padding: 10px;
}

.popover .arrow {
	display: none;
}

.tooltip.top {
	padding-bottom: 15px;
}

.tooltip {
	font-size: 12px;
	margin-top: -15px;
}

.tooltip-arrow {
	display: none !important;
}

.tooltip-inner {
	max-width: 350px !important;
	padding: 10px;
	border: 1px solid #353837;
	box-shadow: #000 0 0 5px, #000 0 0 5px;
    font-family: arial;
}

/* thanks to http://www.karlhorky.com/2012/06/cross-browser-image-grayscale-with-css.html */
.grayEffect {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.input {
	width: auto;
	background-color: rgb(32, 32, 32) !important;
	color: rgb(173, 173, 173) !important;
	border: 1px solid rgb(56, 56, 56) !important;
	vertical-align: middle;
	margin: 0 !important;
}

.input:focus {
	outline: none !important;
	border-color: rgb(253, 186, 112) !important;
	box-shadow: 0 0 5px rgb(243, 134, 15) !important;
	color: white !important;
}

.input.select {
	height: 30px;
	padding: 5px;
}

#modalMessage {
	background-image: url("/img/modal-message-background.png");
	background-repeat: no-repeat;
	background-color: #E5BEA0;
	color: rgb(41, 41, 41);
	border: 1px solid rgb(211, 191, 181);
	border-radius: 0;
}

#activityBar {
	height: 7px;
	background-color: orange;
}

#lifeBar {
	height: 7px;
	background-color: rgb(141, 250, 41);
}

#experienceBar {
	height: 7px;
	background-color: #695F59;
}

a[data-toggle=popover] {
	color: yellow;
}

a, a:visited, a:active {
	color: #FFA300;
}

a:hover {
	color: #FFC04F;
	text-decoration: none;
}

.ui-button {
	background: 0;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: auto;
	overflow: visible;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	outline: 0;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

.ui-input-button {
	color: orange;
	font: normal normal 12px "Roboto Slab", Georgia, Verdana, Arial;
	margin-top: -5px;
}

.ui-input-button:hover {
	color: #FFC04F;
}

.alert-top {
	background-image: url("/img/alert-background.jpg");
	background-repeat: no-repeat;
	height: 65px;
}

.alert-content {
	width: 315px;
	margin: -65px auto;
	padding-top: 10px;
	padding-bottom: 40px;
}

.alert-bot {
	height: 25px;
	background-image: url("/img/alert-background.jpg");
	background-repeat: no-repeat;
	background-position: 0px -99px;
}

.alert-center {
	background-image: url("/img/alert-center-background.jpg");
	background-repeat: repeat-y;
	position: relative;
	width: 339px;
    box-shadow: black 0 0 5px, black 0 0 5px, black 0 0 5px;
}

.alert-container {
	background-image: url("/img/alert-background.jpg");
	background-repeat: no-repeat;
	position: relative;
	width: 319px;
	height: 114px;
	padding: 10px;
	padding-bottom: 0;
	box-shadow: #000 0 0 5px, #000 0 0 5px;
	text-shadow: #000 0 0 5px;
}

.alert-container form, .clan-member-link form {
	margin: 0;
	padding: 0;
}

.alert-container form input[type="submit"], .clan-member-link form input[type="submit"] {
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: none;
}

.dialog-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    width: 520px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #361E0F #361E0F #472607;
    border-image: none;
    box-shadow: 0px 0px 5px #000 inset, 0px 0px 5px #000;
    color: #926C46;
    background-color: rgb(15, 7, 0);
    font-size: 14px;
    text-shadow: 0px 0px 5px #000;
    background-image: url('/img/dialog-box-background.png');
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: relative;
}

.dialog-box p {
    margin-left: 20px;
}

.menu {
    text-shadow: black 0 0 5px, black 0 0 5px;
	padding: 10px;
    margin-top: -15px;
}

.menu li {
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #451907;
}

.menu .nav-header {
    color: rgb(146, 55, 18);
    text-shadow: none;
    font-size: 10px;
    text-transform: uppercase;
    font-family: arial;
    margin-left: -13px;
    letter-spacing: 1px;
    transition: none;
    border: none;
    padding-bottom: 0;
    margin-top: 10px;
    text-shadow: 0 0 2px black;
}

.menu .nav-header:hover {
    margin-left: -13px;
    text-shadow: none;
}

.menu li a {
    transition: margin-left 0.2s ease;
    margin-left: 5px;
    color: white;
}

.menu li a:hover {
    margin-left: 10px;
    text-shadow: white 0 0 5px;
}

.menu .menu-icon {
    border: 2px solid rgb(72, 31, 18);
    box-shadow: black 0 0 2px, black 0 0 2px;
    vertical-align: -5px;
}

.menu-icon {
    background-image: url(/img/menu/menu.jpg);
    background-repeat: no-repeat;
    display: inline-block;
}

.menu-battle {
    width: 16px;
    height: 16px;
    background-position: 0 0;
}

.menu-dungeons {
    width: 16px;
    height: 16px;
    background-position: 0 -16px;
}

.menu-explore {
    width: 16px;
    height: 16px;
    background-position: 0 -32px;
}

.menu-forum {
    width: 16px;
    height: 16px;
    background-position: 0 -48px;
}

.menu-index {
    width: 16px;
    height: 16px;
    background-position: 0 -64px;
}

.menu-logout {
    width: 16px;
    height: 16px;
    background-position: 0 -80px;
}

.menu-messages {
    width: 16px;
    height: 16px;
    background-position: 0 -96px;
}

.menu-orbs {
    width: 16px;
    height: 16px;
    background-position: 0 -112px;
}

.menu-ranking {
    width: 16px;
    height: 16px;
    background-position: 0 -128px;
}

.menu-secret-shop {
    width: 16px;
    height: 16px;
    background-position: 0 -144px;
}

.menu-talents {
    width: 16px;
    height: 16px;
    background-position: 0 -160px;
}

.menu-tournaments {
    width: 16px;
    height: 16px;
    background-position: 0 -176px;
}

.menu-trade {
    width: 16px;
    height: 16px;
    background-position: 0 -192px;
}

.menu-travel {
    width: 16px;
    height: 16px;
    background-position: 0 -208px;
}

.menu-tutorial {
    width: 16px;
    height: 16px;
    background-position: 0 -224px;
}

.coin {
    background-image: url("/img/icons/coin-sprite.png");
    background-repeat: no-repeat;
    display: block;
	margin: 0 auto;
}

.coin-copper {
    width: 14px;
    height: 15px;
    background-position: 0 0;
}

.coin-silver {
    width: 14px;
    height: 15px;
    background-position: -14px 0;
}

.coin-gold {
    width: 14px;
    height: 15px;
    background-position: -28px 0;
}

.icon-race-30 {
    background-image: url("/img/icons/race/icon-race-30-sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.icon-race-30-drow_female {
    width: 30px;
    height: 30px;
    background-position: 0 0;
}

.icon-race-30-drow_male {
    width: 30px;
    height: 30px;
    background-position: 0 -30px;
}

.icon-race-30-dwarf_female {
    width: 30px;
    height: 30px;
    background-position: 0 -60px;
}

.icon-race-30-dwarf_male {
    width: 30px;
    height: 30px;
    background-position: 0 -90px;
}

.icon-race-30-elf_female {
    width: 30px;
    height: 30px;
    background-position: 0 -120px;
}

.icon-race-30-elf_male {
    width: 30px;
    height: 30px;
    background-position: 0 -150px;
}

.icon-race-30-human_female {
    width: 30px;
    height: 30px;
    background-position: 0 -180px;
}

.icon-race-30-human_male {
    width: 30px;
    height: 30px;
    background-position: 0 -210px;
}

.button-icon {
	/*
	width: 16px;
	height: 16px;
	left: -1px;
	top: 9px;
	display: inline-block;
	*/
	left: -1px;
	top: 9px;
	z-index: 2;
	position: absolute;

	width: 16px;
    height: 16px;

	background-image: url("/img/icons/ares-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -999px 0;
    display: block;
}

.button-icon.document {
	width: 16px;
    height: 16px;
    background-position: 0 -112px;
}

.button-icon.fire {
	width: 16px;
    height: 16px;
   background-position: 0 -128px;
}

.button-icon.thunder {
	width: 16px;
    height: 16px;
    background-position: 0 -176px;
}

.button-icon.wind {
	width: 16px;
    height: 16px;
    background-position: 0 -192px;
}

.button-icon.axe {
	width: 16px;
    height: 16px;
    background-position: 0 -16px;
}

.button-icon.dagger {
	width: 16px;
    height: 16px;
    background-position: 0 -96px;
}

.button-icon.castle {
	width: 16px;
    height: 16px;
    background-position: 0 -48px;
}

.button-icon.hearth {
	width: 16px;
    height: 16px;
    background-position: 0 -144px;
}

.button-icon.lock {
	width: 16px;
    height: 16px;
	background-position: 0 -160px;
}

.button-icon.boot {
	width: 16px;
    height: 16px;
    background-position: 0 -32px;
}

.button-icon.arrow {
	width: 16px;
    height: 16px;
    background-position: 0 0;
}

.button-icon.cross {
	width: 16px;
    height: 16px;
    background-position: 0 -80px;
}

.button-icon.check {
	width: 16px;
    height: 16px;
    background-position: 0 -64px;
}

.button {
	position: relative;
	height: 34px;
	background: url('/img/button.png') 100% -67px;
	background-repeat: no-repeat;
	padding-right: 10px;
	margin-left: 10px;
}

.button-content {
	position: relative;
	z-index: 1;
	background-image: url('/img/button.png');
	padding-left: 45px;
	padding-right: 10px;
	background-repeat: no-repeat;
	margin-top: 1px;
	height: 34px;
	margin-left: -10px;
	display: inline-block;
	overflow: hidden;
	font: normal normal 12px/33px "Roboto Slab";
	float: left;
}

.montes-background {
	background-image: url('/img/zones/background/1.png');
	background-repeat: no-repeat;
}

.valle-background {
	background-image: url('/img/zones/background/2.png');
	background-repeat: no-repeat;
}

.lago-background {
	background-image: url('/img/zones/background/3.png');
	background-repeat: no-repeat;
}

.piramides-background {
	background-image: url('/img/zones/background/4.png');
	background-repeat: no-repeat;
}

html, body {
	height: 100%;
}

body {
	background-image: url('/img/background8.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
	padding-top: 50px;
}

h1 {
	color: #c7b299;
	padding-left: 5px;
	min-width: 169px;
	height: 51px;
	font-family: Georgia;
	font-size: 24px;
	margin: 0 !important;
}

h2 {
	color: #c7b299;
	padding-left: 5px;
	min-width: 169px;
	height: 51px;
	font-family: Georgia;
	font-size: 18px;
	background-image: url('/img/header-background.png');
	background-repeat: no-repeat;
	margin: 0;
	background-position: 0 -20px;
	text-shadow: 0 0 5px black;
}

h4 {
	color: rgb(153, 153, 152);
	font-weight: normal;
}

.dark-box {
	padding: 10px;
	background-color: rgb(16, 17, 17);
	border: 1px solid rgb(60, 60, 60);
}

.menu-column {
	background-image: url("/img/menu-background.png");
	background-repeat: repeat-y;
	overflow: hidden;
}

.content {
	background-color: rgb(20, 20, 20);
}

div#content {
	margin-left: 15px;
	margin-top: 15px;
        padding-bottom: 20px;
	position: relative;
}

.rock-background {
	/*background-image: url("/img/container-background.png");
	background-repeat: no-repeat;*/
	background-image: url("/img/content-background.png");
	background-repeat: repeat-y;
}

.container {
	/*margin-bottom: 20px;*/
	background-repeat: no-repeat;
	position: relative;
}

.orb-content {
	background-image: url('/img/orb-background.png');
	background-repeat: no-repeat;
	min-height: 412px;
	margin-top: -15px;
}

.battle-monsters-content {
	background-image: url('/img/battle-monsters-background.png');
	background-repeat: no-repeat;
}

/*.logo {
	background-image: url('/img/ares-logo-2.png');
	background-repeat: no-repeat;
	display: block;
	width: 256px;
	height: 114px;
}*/

.logo {
	background-image: url('/img/ares-logo-3.png');
	background-repeat: no-repeat;
	display: block;
	width: 424px;
	height: 104px;
}

.mini-player-display {
	height: 38px;
	background-color: rgb(12, 3, 3);
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
	padding-bottom: 0;
	font-size: 10px;
	color: white;
	position: relative;
}

.bar-border {
	background-image: url("/img/bar-border.png") !important;
	background-repeat: no-repeat;
	width: 352px !important;
	height: 22px !important;
	position: absolute;
	top: -8px;
	left: -5px;
	z-index: 3;
}

.bar-empty-fill {
	height: 7px;
	width: 100%;
	background-color: #090909;
}

.bar {
	height: 82px;
	/*text-align: right;*/
	clear: both;
	float: none;
	margin-bottom: 20px;
}

.line {
	border: 0;
	width: 687px;
	height: 24px;
	margin: 15px auto;
	background-image: url('/img/line.png');
	background-repeat: no-repeat;
}

.col {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.col-wrap {
	overflow: hidden; 
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	padding-bottom: 20px;
	border: 1px solid black;
}

.normal-button {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	background-image: url('/img/normal-button.png');
	background-repeat: no-repeat;
	width: 222px;
	height: 44px;
	text-align: center;
	color: white;
	margin: 0;
	line-height: 45px;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	font-size: 11px;
	border: 0;
	background-color: transparent;
    text-transform: uppercase;
}

.normal-button:hover {
	background-position: 0 -43px;
	color: white;
	text-decoration: none;
}

.danger-button {
	background-image: url('/img/danger-button.png');
}

.equipped-item {
	background-image: url('/img/icons/empty-80.png');
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	text-align: center;
}

.quest-reward-item {
    background-image: url('/img/icons/quest-reward.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: left; // ie tiene problemas con los tamaños de las imagenes, esto lo soluciona
}

.inventory-item {
	position: relative;
	background-image: url('/img/icons/empty-80.png');
	zoom: 0.9;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	text-align: center;
}

.inventory-item-amount {
	position: absolute;
	border: 1px solid rgb(50, 50, 50);
	background-color: rgba(35, 35, 35, 0.75);
	width: 16px;
	height: 16px;
	font-size: 10px;
	line-height: 17px;
	color: white;
	bottom: 5px;
	right: 4px;
}

.clan-member-link {
	padding: 15px;
	background-color: rgb(14, 14, 14);
	border-radius: 2px;
	margin: 5px;
    box-shadow: black 0 0 2px;
    border: 1px solid rgb(23, 23, 23);
}

.clan-member-link a {
	color: white;
}

.clan-member-link a:hover {
	text-decoration: none;
	color: white;
	background-color: rgb(10, 10, 10);
}

.positive {
	color: rgb(133, 239, 19);
}

.negative {
	color: rgb(224, 57, 38);
}

.thumbnail {
	border: none;
}

.table td { 
	font-size: 13px;
	font-family: "Verdana";
    border-top: 1px solid #090909;
	padding: 7px !important;
 }

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #0a0a0a;
}

#push, #footer {
	height: 250px;
}

#footer {
	text-transform: uppercase;
	font-family: verdana;
	color: #4b443e;
	font-size: 10px;
        margin-top: 50px; 
        padding-left: 50px;
}

#footer a {
	color: #6d6763;
}

#footer a:hover {
	color: #818181;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}